 :root {
  --bg-primary: #121212;
  --bg-secondary: #1b1b1b;
  --bg-tertiary: #212121;
  --bg-quaternary: #303030;
  --bg-fifth: #424242;

  --color-primary: #3700B3;
  --color-secondary: #03DAC6;
  --color-error: #CF6679;
  --color-text: #fff;

  --white: #fff;
  --black: #000;
 }